@import 'vars.css';
@import 'reset.css';

html {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--text);
  background-color: var(--bg);
  color-scheme: light;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text);
  background-color: var(--bg);
}

#root {
  min-height: 100%;
  color: var(--text);
  background-color: var(--bg);
}