.bar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  &--separator::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: -10px;
    height: 2px;

  }
  &:last-child {
    &--separator::after {
      display: none;
    }
  }

  .bar-item__indicator {
    .indicator__icon {
      content: url('../../../assets/icons/sidebar/sidebar-indicator.svg'); /* todo решить проблему с иконками */
    }
  }
  &--active {
    .bar-item__indicator {
      .indicator__icon {
        content: url('../../../assets/icons/sidebar/sidebar-indicator--active.svg');
      }
    }
  }


  &:hover {
    .indicator__icon {
      content: url('../../../assets/icons/sidebar/sidebar-indicator--hover.svg');
    }

    .bar-item__info {

      border-radius: 10px;
    }
  }
}

.bar-item__indicator {
  flex-shrink: 0;
}



.bar-item__info {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  gap: 15px;
}

.info__icon {
  flex-shrink: 0;
}

.info__text {
  flex: 1;
}

