:root {
  /* Scrolls */
  --scrollbar-color-default: var(--colors-palette-primary-gray-250);
  --scrollbar-color-hover: var(--colors-palette-primary-gray-350);
  --scrollbar-color-active: var(--colors-semantic-active);
  --scrollbar-width: 2px;
  --scrollbar-track: transparent;
  --scrollbar-thumb: var(--scrollbar-color-default);
  --scrollbar-thumb-hover: var(--scrollbar-color-hover);
  --scrollbar-thumb-active: var(--scrollbar-color-active);
  --scrollbar-radius: var(--radius-lg);
}
